.masonry-container{
    margin: 2em 0;
    .masonry-brick {
        -webkit-transition: opacity linear 0.2s;
        transition: opacity linear 0.2s;
        opacity: 0.75 !important;
    }
    &:hover {
        .masonry-brick {
            opacity: 0.875 !important;
        }
    }
}
